[submodule "LV_Config_class"]
	path = LV_Config_class
	url = https://github.com/usnistgov/LV_Config_class.git
[submodule "NistPluggableModules"]
	path = NistPluggableModules
	url = https://github.com/usnistgov/NistPluggableModules.git
[submodule "LV_Ini"]
	path = LV_Ini
	url = https://github.com/usnistgov/LV_Ini.git
[submodule "LV_TestAutomation"]
	path = LV_TestAutomation
	url = https://github.com/usnistgov/LV_TestAutomation.git
